#ifndef Secret_h
#define Secret_h

// WiFi
#define SECRET_WIFI_SSID "Your WiFi SSID goes here"
#define SECRET_WIFI_PASSWORD "Your WiFi password goes here"

// MQTT Broker
#define SECRET_MQTT_BROKER "Domain name / IP of your MQTT broker"
#define SECRET_MQTT_USERNAME "Your MQTT username goes here"
#define SECRET_MQTT_PASSWORD "Your MQTT password goes here"
#define SECRET_MQTT_PORT 1883 // Change it if required

// Updates Server
#define SECRET_UPDATES_HOST "Domain name / IP of your firmware updates server"
#define SECRET_UPDATES_USER "Username for the updates server goes here"
#define SECRET_UPDATES_PASSWORD "Password for the updates server goes here"
#define SECRET_UPDATES_PORT 443 // Change it if required. Defaults to HTTPS
#define SECRET_UPDATES_URL_FIRMWARE_BINARY "URL where the firmware updates are downloaded from"

#endif
